.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

.carousel,
.carousel-item {
  height: 90vh;
}

.btn {
  border-radius: unset;
}

.navbar {
  border-bottom: 1px solid gray;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1220px;
  }
}
