* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.btn-trans {
  background-color: transparent;
}

#search {
  display: none;
}

.card {
  & .img-wrapper {
    height: 500px;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}

.card-small {
  border: 1px solid rgba(0, 0, 0, 0.125);
  & .img-wrapper {
    height: 230px;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
  // &.card-border {
  // }
}

.popular-article-card {
  & .img-wrapper {
    height: 200px;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}
